
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #222831;
}

.header,
footer,
.container,
.side-panel,
.input-form,
#sketch-panel, 
.sketch-pad {
    display: flex;
}

.header,
footer,
.container,
.input-form,
#sketch-panel {
    justify-content: center;
}

.title,
.label,
.retro-button,
footer {
    font-family: 'Tiny5', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fac650;
}

.header {
    padding: 48px 0px;
    background-color: #111720;
}

.title {
    font-size: 48px;
}

.label {
    font-size: 24px;
}

.container {
    align-items: center;
    gap: 128px;
    margin: 64px auto;
}

.side-panel {
    flex-direction: column;
    flex-wrap: wrap;
    height: 256px;
    width: 384px;
    padding: 16px;
    gap: 12px;
    border-radius: 8px;
    background-color: #111720;
}

.input-form {
    gap: 8px;
}

#grid-size-input {
    flex-grow: 3;
    flex-basis: 75%;
    border-radius: 8px;
    height: 24px;
    font-size: 16px;
    padding: 8px;
    box-sizing: content-box;
}

#apply-size-button {
    flex-grow: 1;
    flex-basis: 25%;
}

.retro-button {
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    height: 24px;
    box-sizing: content-box;
    background-color: #fac650;
    color: #111720;
    box-shadow: 5px 5px #000000;
}

.retro-button:hover {
    background-color: #222831;
    color: #fac650;
}

.retro-button:active {
    transform: translateY(4px);
}

#sketch-panel {
    align-content: center;
}

.sketch-pad {
    max-width: 512px;
    flex-wrap: wrap;
    box-sizing: content-box;
    border-radius: 8px;
    background-color: white;
    border: 2px solid black;
}

.sketch-box {
    border: 1px solid #00000010;
}

a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    margin: 24px;
}